<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Swarna Gopalan. It uses data from MapBox and WeatherAPI.</p>
            <img src="img/robot.png" class="potrait">
        </div>
        {{>footer}}
    </body>
</html>